# Dependencies
node_modules/
vendor/

# Build output
assets/css/dist/
assets/js/dist/

# IDE & Editor
.idea/
.vscode/
*.sublime-*

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Temporary files
*.tmp
*.bak
*.swp
*~

# Environment files
.env
.env.local
